<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--接口全路径名-->
<mapper namespace="com.vivy.mapper.ApplicationMapper">

    <resultMap id="applicationResultMap" type="Application">
        <result column="business_id" property="businessId"></result>
        <result column="departure_date" property="departureDate"></result>
        <result column="return_date" property="returnDate"></result>
        <result column="type_content" property="typeContent"></result>
        <result column="state_reason" property="stateReason"></result>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_application (business_id, name,department,position, destination, departure_date, return_date,type,reason)
        values (#{businessId}, #{name},#{department},#{position}, #{destination}, #{departureDate}, #{returnDate},#{type},#{reason});
    </insert>

    <select id="selectAll" resultType="com.vivy.pojo.Application" resultMap="applicationResultMap">
        select *
        from tb_application
    </select>


    <select id="selectByUser" resultType="com.vivy.pojo.Application" resultMap="applicationResultMap">
        select *
        from tb_application
        where name = #{name} and department = #{department}
    </select>

    <select id="selectById" resultType="com.vivy.pojo.Application" resultMap="applicationResultMap">
        select *
        from tb_application
        where id = #{id}
    </select>

    <select id="selectByPosition" resultType="com.vivy.pojo.Application" resultMap="applicationResultMap">
        select *
        from tb_application
        where department = #{department} and position = #{position}
    </select>

    <update id="update">
        update tb_application
        <set>
            <if test="destination != null and destination != '' ">
                destination = #{destination},
            </if>
            <if test="departureDate != null and departureDate != '' ">
                departure_date = #{departureDate},
            </if>
            <if test="returnDate != null and returnDate != '' ">
                return_date = #{returnDate},
            </if>
            <if test="type != null and type != '' ">
                type = #{type},
            </if>
            <if test="reason != null and reason != '' ">
                reason = #{reason},
            </if>
            <if test="state != null and state != '' ">
                state = #{state},
            </if>
            <if test="stateReason != null and stateReason != '' ">
                state_reason = #{stateReason},
            </if>
        </set>
        where id = #{id};
    </update>

    <delete id="delete">
        delete from tb_application where id = #{id}
    </delete>

</mapper>